html {
    background:#141414
}
#top {
    color:rgb(30, 121, 206);
    font-size: 2rem;
}
h2,p,h1{
    margin: 0;
    margin-left: 2rem;
}
h3 {
    color:rgb(236, 114, 0);
    margin: 0;
    margin-left: 2rem;
    margin-top: 1rem;
    font-family: Montserrat;

}
div {
    margin-top: 1.5rem;
    font-family: Montserrat;
}
h2 {
    color:rgb(30, 121, 206);
    font-family: Montserrat;
    margin-top: 2rem;
}
p {
    color:rgb(172, 172, 172);
    font-family: Montserrat;
    font-weight: 400;
}
#pro {
    margin-top:5px;
    font-weight: 600;
}
a {
    color:rgb(30, 121, 206);
}
#avatar {
    margin-left:2rem;
    width: 17rem;
    border-radius: 4rem 4rem 4rem 4rem;
}
audio {
    margin-top: 1rem;
    width: 20rem;
    margin-left:2rem;

}
#nhac {
    width: 27rem;
    color: white;
}
#lienhe {
    color:rgb(30, 121, 206);
}
